@model DataLayer.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    

    <div id="content" class="site-content">
        <div id="primary" class="content-area">
            <div class="content-frame">
                <div class="single-col">

                    <div class="woocommerce">
                        <form method="post" class="lost_reset_password">
                            @Html.AntiForgeryToken()
                            <p>Have you lost your password? Please enter your e-mail address. You will receive email with your password, so you can access your account. </p>
                            <p class="form-row form-row-first">
                            @Html.ValidationSummary("", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                                <div class="col-md-10">
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                </div>
                            </div>
                            </p>
                            
                            <p class="form-row">

                                <input type="hidden" id="_wpnonce" name="_wpnonce" value="33f7121b13" />
                                <input type="hidden" name="_wp_http_referer" value="/mein-account/lost-password/" />
                                <input type="submit" class="button" value="Email Link" />
                           </p>
                    </form>
                    </div>
                </div><!-- .col-right -->
            </div><!-- .content-frame -->
        </div><!-- .content-area -->
    </div><!-- #content.site-content -->
   

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
