@model DataLayer.Cart


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "CheckOut page";
}

<div class="cartpage">
    <div class="col-2">
            <p>Please review your order.<br /> Your current Balance is: @(Model.User.AccountBalance)</p><br />

            @foreach (DataLayer.Picture pic in Model.PicturesInCart)
            {
                <p> @pic.Title - Cost: @pic.Cost   |   @Html.ActionLink("Delete", "Delete", new { picId = pic.Id })</p>
            }
            @foreach (DataLayer.Album al in Model.AlbumsInCart)
            {
                <p> @al.Name - Cost: @al.Cost   |   @Html.ActionLink("Delete", "Delete", new { albumID = al.Id })</p>
            }
            <br />

            <p>
                Total: @ViewBag.CartTotal
            </p>

        @if (ViewBag.hasEnough == false)
        {
            <p>You do not have enough credit to purchase these pictures</p>
        } else {
        <p>
            @Html.ActionLink("Submit Order", "Submit")
        </p>
        }
    </div>
</div>

<p>
    @Html.ActionLink("Create New", "Create")
</p>





