@model DataLayer.Cart

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>



<div class="cartpage">
    <div class="col-2">
        @if (Model.PicturesInCart.Count != 0)
        {
            foreach (DataLayer.Picture pic in Model.PicturesInCart)
            {
                <img src="data:image/jpeg;base64, @Convert.ToBase64String(pic.CompressImg, 0, pic.CompressImg.Length)" style="width:150px;height:150px;border-radius: 15px 15px 15px 15px; display:inline;" />
                <p>Picture: @pic.Title | @Html.ActionLink("Delete", "DeletePic", new { picId = pic.Id })</p>
    
            }

           
        }
        @if (Model.AlbumsInCart.Count != 0)
        {
            foreach (DataLayer.Album album in Model.AlbumsInCart)
            {
                <p>Album: @album.Name | @Html.ActionLink("Delete", "DeleteAl", new {albumId = album.Id})</p>
            }
        }
        @if (Model.AlbumsInCart.Count + Model.PicturesInCart.Count > 0)
        {
            <p>
                @Html.ActionLink("Checkout", "CheckOut")
            </p>
        }
        else
        {
            <p> Your Cart is Empty</p>
        }
    </div>
</div>
