@model DataLayer.Cart

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<p>
    @Html.ActionLink("Checkout", "CheckOut")
</p>

<table class="table">

    <tr>
        <td>
            @Html.DisplayFor(modelItem => Model.User.FirstName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = Model.UserId }) |
            @Html.ActionLink("Details", "Details", new { id = Model.UserId }) |
            @Html.ActionLink("Delete", "Delete", new { id = Model.UserId })
        </td>
    </tr>


</table>
