@model DataLayer.Picture

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Picture</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Album.UserId)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Album.UserId)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Owner.FirstName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Owner.FirstName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Cost)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Cost)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Location)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Location)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.UploadTime)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.UploadTime)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.NumberOfLikes)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.NumberOfLikes)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.HasBeenReported)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.HasBeenReported)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.OriginalImg)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.OriginalImg)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CompressImg)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CompressImg)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.PictureType)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PictureType)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Hidden)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Hidden)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
