@{
    ViewBag.Title = "SearchIndex";
}
@model PhotoProject.ViewModels.SearchResultsViewModel
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

<h2></h2>
<div>
        @{
            <a href="@Url.Action("Index", "Search", new { sortOrder = "most_purchased" })"> Most Purchased </a>
                for (int i = 0; i < Model.Pictures.Count(); i++)
                {

                <a href='@Url.Action("Details", "PictureDetails", new { id = @Model.Pictures[i].Id })'>
                    <img src="data:image/jpeg;base64, @Convert.ToBase64String(Model.Pictures[i].CompressImg, 0, Model.Pictures[i].CompressImg.Length)" style="width:110px;height:110px;border-radius: 15px 15px 15px 15px; display:inline;" />
                </a>

                }
                }  
                

                Page @(Model.Pictures.PageCount < Model.Pictures.PageNumber ? 0 : Model.Pictures.PageNumber) of @Model.Pictures.PageCount

                @Html.PagedListPager(Model.Pictures, picturePage => Url.Action("SearchResults", new { picturePage, currentFilter = ViewBag.CurrentFilter }))

</div>