@model PhotoProject.ViewModels.GalleryViewModel
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Gallery";
}
<div class="gallerypage">
    <div class="col-2">
        <div class="profileinfo">
            <div class="userinfo">
                <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRVOdD-sjx4UA-Mym9oOQ8hQRrmCm8imPkYXWefj9a_dsnvXuzZ" style="width:110px;height:110px;border-radius: 15px 15px 15px 15px">
                <h1>@User.Identity.GetUserName()</h1>
                <h2>@User.Identity.GetUserName()</h2>
            </div>
            <div class="userbuttons">
                <p class="userpagebutton">
                    @Html.ActionLink("Manage Account", "Index", "Manage", routeValues: null, htmlAttributes: new { @class = "button1" })
                </p>
                <p class="userpagebutton">
                    @Html.ActionLink("Upload Image", "Upload", "Upload", routeValues: null, htmlAttributes: new { @class = "button1" })
                </p>
            </div>
        </div>
        <div class="uploadedimages">
            <h4>Pictures the user uploaded</h4>

            <div class="uploadedimages1">
                @{
                    List<DataLayer.Picture> ownpicList = (List<DataLayer.Picture>)Model.OwnedPictures;
                    if (ownpicList == null)
                    {
                        <h4>The user doesn't upload any picture.</h4>
                    }
                    else
                    {
                        for (int i = 0; i < ownpicList.Count(); i++)
                        {
                            <a href='@Url.Action("Details", "PictureDetails", new { id = @ownpicList[i].Id })'>
                                <img src="data:image/jpeg;base64, @Convert.ToBase64String(ownpicList[i].CompressImg, 0, ownpicList[i].CompressImg.Length)" style="width:110px;height:110px;border-radius: 15px 15px 15px 15px" />
                            </a>
                            <br />
                            <br />
                        }
                    }
                }
            </div>
        </div>

        <br />
        <br />
        <table>
            <tr>
                <h4>Pictures the user liked</h4>
            </tr>
            <tr>
                @{
                    List<DataLayer.Picture> likedpicList = (List<DataLayer.Picture>)Model.LikedPictures;
                    if (likedpicList == null)
                    {
                        <h4>The user doesn't like any picture.</h4>
                    }
                    else
                    {
                        for (int i = 0; i < likedpicList.Count(); i++)
                        {
                            <a href='@Url.Action("Details", "PictureDetails", new { id = @likedpicList[i].Id })'>
                                <img src="data:image/jpeg;base64, @Convert.ToBase64String(likedpicList[i].CompressImg, 0, likedpicList[i].CompressImg.Length)" />
                            </a>
                            <br />
                            <br />
                        }
                    }
                }
            </tr>
        </table>
        <br />
        <br />
        <ul>
            <h4>Users the user are following</h4>
            @{
                List<DataLayer.UserInfo> followinglist = (List<DataLayer.UserInfo>)Model.Following;
                if (followinglist == null)
                {
                    <h4>There is no following user</h4>
                }
                else
                {
                    foreach (DataLayer.UserInfo user in followinglist)
                    {
                        <li>
                            @Html.ActionLink(user.FirstName + " " + user.LastName, "Gallery", "UserHome", new { id = user.UserId })
                        </li>
                    }
                }
            }
        </ul>
    </div>
</div>