@model DataLayer.Picture
@{
    ViewBag.Title = "Upload";
}
<div class="imagepage">
    <div class="col-2">
        <div>

            <div class="imagecontainer">
                <img src="data:image/jpeg;base64, @Convert.ToBase64String(Model.CompressImg, 0, Model.CompressImg.Length)" style="width:400px;height:auto;border-radius: 15px 15px 15px 15px; vertical-align:middle;" />
                <div>
                    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id })*@
                    <a href="#login_form" id="login_pop">Edit&nbsp;|</a>
                    <a href="#login_form" id="login_pop">Back to List&nbsp;|</a>

                    @{
                        if (ViewBag.LikeAction)
                        {
                            @Html.ActionLink("Unlike|", "LikePicture", new { @id = Model.Id })
                        }
                        else
                        {
                            @Html.ActionLink("Like|", "LikePicture", new { @id = Model.Id })
                        }
}

                    @*@Html.ActionLink("Back to List", "Gallery", "UserHome", new { @id = Model.Owner.UserId }, null)*@
                    
                    <a href="#login_form" id="login_pop">Add to Cart&nbsp;</a>
                    <p> Number Of Likes: @Html.DisplayFor(model => model.NumberOfLikes)</p>
                </div>
            </div>
            <div class="informationcontainer">
                <h4>Image: @Html.DisplayFor(model => model.Title)</h4>

                <table>


                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Owner.FullName):</td>
                        <td>@Html.DisplayFor(model => model.Owner.FullName)</td>
                    </tr>



                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Title):</td>
                        <td>@Html.DisplayFor(model => model.Title)</td>
                    </tr>


                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Cost):</td>
                        <td>@Html.DisplayFor(model => model.Cost)</td>
                    </tr>

                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Location):</td>
                        <td>@Html.DisplayFor(model => model.Location)</td>
                    </tr>


                    <tr>
                        <td> @Html.DisplayNameFor(model => model.Description):</td>
                        <td>@Html.DisplayFor(model => model.Description)</td>
                    </tr>

                    <tr>
                        <td>Upload Time:</td>
                        <td>@Html.DisplayFor(model => model.UploadTime)
                        <td>

                    </tr>
                    

                    <tr>
                        <td>@Html.DisplayNameFor(model => model.PictureType):</td>
                        <td>@Html.DisplayFor(model => model.PictureType)</td>
                    </tr>

                </table>
            </div>

        </div>

    </div>
</div>


<a href="#x" class="overlay" id="login_form"></a>
<div class="popup">
    @{Html.RenderAction("Edit", "PictureDetails");}
</div>