@model DataLayer.Picture
@{
    ViewBag.Title = "Upload";
}
<div class="imagepage">
    <div class="col-2">
        <div>

            <div class="imagecontainer">
                <img src="data:image/jpeg;base64, @Convert.ToBase64String(Model.CompressImg, 0, Model.CompressImg.Length)" style="width:400px;height:auto;border-radius: 15px 15px 15px 15px; vertical-align:middle;" />
                <div>
                    @if (!ViewBag.isOwner)
                    {
                       @Html.ActionLink("Edit | ", "Edit", new { id = Model.Id })
                    }


                    @*<a href="javascript:void(0);" onclick="history.go(-1);"> Back to Gallery | </a>*@
                    @Html.ActionLink(Model.Owner.FullName + "'s Gallery |", "Gallery", "UserHome", new { id = Model.OwnerId }, null)
                   


                    @if (!ViewBag.isOwner)
                    {
                        @Html.ActionLink("Add to Cart | ", "buyPicture", "Cart", new { picId = Model.Id }, null) 
                    }
                    @Html.ActionLink("Report Photo", "LikePicture", new { @id = Model.Id })

                    <p> Number Of Likes: @Html.DisplayFor(model => model.NumberOfLikes)</p>
                    @{
                        if (ViewBag.LikeAction)
                        {
                            <a href='@Url.Action("LikePicture", new { @id = Model.Id })'>
                                <img src="http://swebliss.topstreamers.com/images/icons/vote.png" , style="width:20px;height:20px; margin-top:5px;" />
                            </a>
                            @* @Html.ActionLink("Unlike | ", "LikePicture", new { @id = Model.Id })*@
                        }
                        else
                        {
                            <a href='@Url.Action("LikePicture", new { @id = Model.Id })'>
                                <img src="http://www.barstoolbeats.com/assets/music/red_heart-c9d3acd6ea74649504559a68579fa62c.png" , style="width:20px;height:20px; margin-top:5px;" />
                            </a>
                            @*@Html.ActionLink("Like | ", "LikePicture", new { @id = Model.Id })*@
                        }
                    }
                </div>
            </div>
            <div class="informationcontainer">
                <h4>Image: @Html.DisplayFor(model => model.Title)</h4>

                <table>

                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Owner.FullName):</td>
                        <td>@Html.ActionLink(Model.Owner.FullName, "Gallery", "UserHome", new { id = Model.OwnerId }, null)</td>
                    </tr>

                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Title):</td>
                        <td>@Html.DisplayFor(model => model.Title)</td>
                    </tr>

                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Cost):</td>
                        <td>@Html.DisplayFor(model => model.Cost)</td>
                    </tr>

                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Location):</td>
                        <td>@Html.DisplayFor(model => model.Location)</td>
                    </tr>

                    <tr>
                        <td> @Html.DisplayNameFor(model => model.Description):</td>
                        <td>@Html.DisplayFor(model => model.Description)</td>
                    </tr>

                    <tr>
                        <td>Upload Time:</td>
                        <td>@Html.DisplayFor(model => model.UploadTime)
                        <td>

                    </tr>

                    <tr>
                        <td>@Html.DisplayNameFor(model => model.PictureType):</td>
                        <td>@Html.DisplayFor(model => model.PictureType)</td>
                    </tr>

                </table>
            </div>

        </div>

    </div>
</div>
