@model DataLayer.Album

@{
    ViewBag.Title = "AddPicInAlbum";
}

<h2>AddPicInAlbum</h2>

<div class="uploadpage">

        @using (Html.BeginForm("AddPicInAlbum", "AlbumDetails", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="col-2">
                @Html.AntiForgeryToken()
                <div class="form-horizontal">

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <h4>Select picture you want to add to the album:</h4>
                </div>
            </div>
        <div class="myWorkContent3">
            <div id="insideDiv">
                @foreach (var pic in Model.User.OwnedPictures)
                {
                    if (pic.Album == null)
                    {
                        <div class="continer">
                            <div class="imagegallery">
                                <a href='@Url.Action("Details", "PictureDetails", new { id = @pic.Id })'>
                                    <img src="data:image/jpeg;base64, @Convert.ToBase64String(pic.CompressImg, 0, pic.CompressImg.Length)" style="width:110px;height:110px;border-radius: 15px 15px 15px 15px; display:inline;" />
                                    <p></p>
                                    @Html.CheckBox("Picture" + pic.Id)
                                    <label for="Picture@pic.Id" class="inline">@pic.Title</label>
                                </a>
                            </div>

                        </div>
                    }

                }
            </div>

        </div>
            <div class="col-2">
                <div class="form-horizontal">

                    <div class="form-group">
                        @Html.LabelFor(model => model.Cost, htmlAttributes: new { @class = "control-label col-md-2" })<span class="required">*</span>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Cost, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Cost, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <p>
                        @Html.Hidden("Id", Model.Id)
                        <input class="button" type="submit" value="Add" />
                    </p>

                </div>
                </div>
        }

</div>
